{% extends 'base.html.twig' %}

{% block title %}Гостевая книга конференций{% endblock %}

{% block body %}
    <h2>Оставьте отзыв!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{ path('conference', { slug: conference.slug }) }}">Подробнее</a>
        </p>
    {% endfor %}
{% endblock %}
